@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

body {
  background-color: #FFEFEF;
}

.main {
  background-color: white;
  text-align: center;
  width: 85%;
  padding: 3rem;
}

header {
  text-align: center;
}

.images img {
  width: 25%;
}

button {
  background-color: #FFEFEF;
  border: #FFEFEF;
  padding: 1rem;
}

.losos img,
.dezert img {
  float: left;
}

.losos,
.dezert,
.tagliatelle {
  overflow: auto;
}

.tagliatelle img {
  float: right;
}

.text {
  display: flex;
  flex-direction: row;
}
